# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


src/components/component1.jsx
src/components/component2.jsx
src/components/component3.jsx
src/components/component5.jsx
src/components/component6.jsx
src/components/component7.jsx
src/components/component8.jsx


node_modules